<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="../../img/MicrosoftTeams-image-removebg-preview.png" tyle="image/ x-icon">
    <link rel="stylesheet" href="../../CSS/cnpj/cnpj.css">
    <link rel="stylesheet" href="../../CSS/cnpj/style.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>

    <script src="js/script.js"></script>
    <script src="js/Cadastro/script.js"></script>

    <title>Cadastro Cnpj</title>
</head>

<body>
    <main>
        <section class="box-form">
            <form action="/cadastro/cnpj" method="post" id="form">
                <section class="form-content">
                    <h3 class="titulo">Olá seja bem vindo!</h3>
                    <p class="sub-titulo">Estamos muito animados em ter você aqui!</p>
                    <section class="figura-logo">
                        <article class="logo-container">
                            <a href="../cadastro/cnpj.html">
                                <img src="../../img/LOGO2.png">
                            </a>
                        </article>
                    </section>
                    <p class="register-link">
                        Já tem uma conta?
                        <a href="/login">Entre</a>
                    </p>

                <!-- ---------------------------------------nomeUsuário----------------------------------------------->
                        <label for="razaosocial">Razão Social <span>*</span></label>
                        <input type="text" name="razao_social_instituicao" id="razaosocial" placeholder="Razao Social" maxlength="255" required>
                    </article>
                    
                    <article class="form-input">
                        <label for="Cnpj">CNPJ <span>*</span></label>
                        <input type="text" name="cnpj_instituicao" placeholder="__.___.___/____-__" id="Cnpj" maxlength="14" required>
                    </article>
                    
                    <article class="form-input">
                        <label for="cidade">Cidade <span>*</span></label>
                        <input type="text" name="cidade" placeholder="Cidade" id="cidade" required>
                    </article>
                    
                    <article class="input__wrapper">
                        <label for="password">Senha <span>*</span></label>
                        <input type="password" name="senha" placeholder="Senha" id="password" required>
                    </article>
                    
                <input type="submit" value="Entrar" id="Entrar">

                <article id='msgError'></article>
                <article id='msgSuccess'></article>
                <small id="textForm"></small>
                
        </section>
        </section>
    </form>
    </main>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/js/cnpj/senhacnpj.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.7/inputmask.min.js"></script>

</body>

</html>