<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <link rel="stylesheet" href="../../CSS/esqueceusenha/esqueceu.css">
    <link rel="shortcut icon" href="../../img/MicrosoftTeams-image-removebg-preview.png" type="image/x-icon">
    
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script src="/js/notify.js"></script>
    <link rel="stylesheet" href="/CSS/notify.css">
</head>

<body>
    <main>
        <% if (dadosNotificacao) { %>
            <script>
                notify("<%= dadosNotificacao.titulo %>", "<%= dadosNotificacao.mensagem %>", "<%= dadosNotificacao.tipo %>", "center");
                if ("<%= dadosNotificacao.tipo %>" == "success") {
                    setTimeout(function() { window.location = "/" }, 3000);
                }
            </script>
        <% } %>  

        <div class="login-page">
            <div class="form-cadastro">
                <h2>Recuperar a senha</h2>
                <p class="sub-titulo">Informe o e-mail associado à sua conta <br> para alterar sua senha</p></br>
                <section class="figura-logo">
                    <article class="logo-container">
                        <a href="../../index.html">
                            <img src="../../img/LOGO2.png" alt="Logo">
                        </a>
                    </article>
                </section>
                <form action="/recuperar-senha" method="post">
                    <input type="text" name="email" placeholder="Digite seu email" required /><br>
                    <button type="submit">Enviar</button><br>
                </form>
            </div>
        </div>
    </main>
</body>

</html>
