
body {
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background:linear-gradient(90deg, #323480 40%, #140b5c  100%);
}

.box {
    background-color: white;
    border-radius: 15px;
    padding: 60px;
    width: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid #ccc;
}

h2 {
    color: #140b5c;
    margin: 0;
}

span{
    color: #140b5c;
    margin: 0;

}
.btn-voltar {
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-voltar:hover {
    background-color: #218838; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btn-voltar:active {
    background-color: #1e7e34; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}