
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>SaneaMais</title>
  <!-- Font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="shortcut icon" href="img/MicrosoftTeams-image-removebg-preview.png" tyle="image/ x-icon">
  <!-- Link css -->
  <link rel="stylesheet" href="./CSS/style.css">
  <link rel="stylesheet" href="./CSS/menu.css">
  <link rel="stylesheet" href="./CSS/parteM.css">
  <link rel="stylesheet" href="./CSS/Rank/rank.css">
  <link rel="stylesheet" href="./CSS/Footer/slyle.css">
</head>

<body>

  <header>
    <main class="gradient-background">
      <section class="container">

        <nav class="nav">
          <a href="/">
            <img src="img/LOGO1.png" alt="Logo" />
          </a>
          <ul class="ul nav-list">
            <a href="/">Home</a>
            <a href="./Sobre">Sobre</a>
            <a href="./Servico">Saneamento</a>
            <a href="/login">Entrar</a>
            <a class="btn" href="/cadastro">Cadastrar</a>
          </ul>
          <button class="hamburger"></button>
        </nav>
        <section class="banner">
          <article class="banner-text">
            <img src="img/LOGO2.png">
            <p>
              Melhore seu bem estar e saúde!<br>
              Faça sua denúncia aqui, ajude você e a todos nós.
            </p>
            <a href="/cadastro" class="btn animate-btn">Denuncie</a>
          </article>
        </section>
      </section>
    </main>
      <!-- end container -->
  </header>
  <!-- end header -->
  <!-- faca mais -->
  
    <main class="faca-mais">
      <!-- container -->
      <section class="container">
        <article class="faca-mais-text">
          <h3>Faça sua queixa
            em um simples post</h3><br /><br />
          <p>
            Acreditamos na força coletiva da população quando unida por uma causa justa. No SaneaMais, oferecemos
            um canal de expressão para indivíduos compartilharem suas experiências, desafios e aspirações relacionadas
            ao saneamento básico.<br /><br /> Por meio de histórias, depoimentos e informações embasadas, destacamos as
            realidades
            muitas vezes invisíveis, mas cruciais, que cercam a falta de saneamento. Além disso, incentivamos o diálogo
            construtivo e colaborativo entre os cidadãos e as autoridades locais.
          </p>
        </article>
        <article class="faca-mais-img">
          <img src="img/Inter.png" alt="" />
        </article>
      </section>
      <!-- end container -->
    </main>
    <!-- end faca mais -->
    <!-- faca mais 2-->
    <main class="faca-mais">
      <!-- container -->
      <section class="container">
        <article class="faca-mais-img">
          <img src="img/prefeitua.png" alt="" />
        </article>
        <article class="faca-mais-text">
          <h3>Voz a população</h3><br /><br />
          <p>
            Em muitas partes do mundo, a falta de acesso a serviços de saneamento básico continua a ser uma preocupação
            fundamental.
            O SaneaMais nasceu da convicção de que cada indivíduo tem o direito inalienável a condições de vida
            saudáveis
            e dignas. <br /><br /><br />
            Nossa missão é dupla: proporcionar um espaço onde as vozes das comunidades possam ser ouvidas e agir como um
            intermediário
            ativo entre os cidadãos e as autoridades municipais. Acreditamos que, ao unir forças e trabalhar em
            conjunto,
            podemos efetuar
            mudanças reais e duradouras.
          </p>

        </article>
      </section>
    </main>
    <main> 
      <h3 class="como-fazer-text">Como faço minha denúncia?</h3>
      <section class="containerr">
        <section class="slider">
          <section class="slide slide-1">
            <article class="slide-text">
              <p class="author-text">
                <span>É simples</span>
              </p>
              <p class="testimonial-text">
                Faça sua denuncia em apenas dois passos e mostre os problemas em que se encontra
                o lugar que você mora
              </p>
            </article>
            <article class="slide-img">
              <img src="./img/denuncia1.jpeg" alt="img">
            </article>
          </section>
          <section class="slide slide-2">
            <article class="slide-text">
              <p class="author-text">
                <span>1º passo</span>
              </p>
              <p class="testimonial-text">
                Primeirante faça seu cadastro em nosso site para fazer sua denúncia e ver outras denúncias
              </p>
            </article>
            <article class="slide-img">
              <img src="./img/cadastro.png" alt="img">
            </article>
          </section>
          <section class="slide slide-2">
            <article class="slide-text">
              <p class="author-text">
                <span>2º passo</span>
              </p>
              <p class="testimonial-text">
                Depois de ter feito seu cadastro, escreva sua queixa e a publique. Pronto! Você fez sua
                parte
                ajudando a
                você e a todos os outros.
              </p>
            </article>
            <article class="slide-img">
              <img src="./img/denuncia3.jpeg" alt="img">
            </article>
          </section>
          <article class="buttons"> <!--se colocar setion, a seta não aparece-->
            <article class="next"></article>
            <article class="prev"></article>
          </article>
        </section>
      </section>
    </main>
    <main class="depoimentos" id="meu-card">
      <section class="container">
        <h3 class="Font">Denúncias destaques</h3>
        <p>Leia as principais denúncias desse mês</p>
        <section class="cards">
          <article class="card-item">
            <img src="img/eduardo.png" alt="Eduardo">
            <p class="nome-user"> Eduardo</p>
            <p class="depoimento-user">
              Ontem pela manhã meu filho caiu em uma vala de bueiro aberto
              e se feriu muito, precisa ser arrumada urgentemente!!!!!
            </p>
            </div>
          </article>
          <article class="card-item">
            <img src="./img/teresa.png" alt="Teresa">
            <p class="nome-user">Teresa</p>
            <p class="depoimento-user">
              Eu estava passando pela rua Via Carijó e vi um esgoto á céu aberto
              com muito lixo e cheiro ruim, quando chove sei que transborda e
              acaba alagando todo bairro!!! FAÇA ALGO PREFEITURA DE BARUERI!!
            </p>
          </article>
          <article class="card-item">
            <img src="img/Design sem nome (1).png" alt="Alana">
            <p class="nome-user">Alana</p>
            <p class="depoimento-user">
              Hoje fui beber um copo de água me deparei com um lodo verde
              saindo pela torneira!!!!!!!!
            </p>
          </article>
        </section>
      </section>
    </main>
    <section>
      <section class="container-rank">
          <article class="title">Cidades com mais denúncias</article>
          <main>
              <article class="podium">
                  <ul id="ranking-podium">
                      <!-- O conteúdo será preenchido pelo JavaScript -->
                  </ul>
              </article>
          </main>
          <article class="ranking-title">
              <span>RANKING</span>
          </article>
          <section>
              <ul class="ranking" id="ranking-list">
                  <!-- O conteúdo será preenchido pelo JavaScript -->
              </ul>
          </section>
      </section>
  </section>
  
  <script>
      const fetchRankingData = async () => {
          try {
              const response = await fetch('/api/ranking');
              if (!response.ok) {
                  throw new Error('Erro ao buscar ranking');
              }
  
              const rankingData = await response.json();
              updateRankingUI(rankingData);
          } catch (error) {
              console.error(error);
              // Exibir uma mensagem de erro para o usuário, se necessário
          }
      };
  
      const updateRankingUI = (rankingData) => {
          const podium = document.getElementById('ranking-podium');
          const rankingList = document.getElementById('ranking-list');
  
          // Limpa o conteúdo anterior
          podium.innerHTML = '';
          rankingList.innerHTML = '';
  
          // Adiciona os dados do ranking ao podium
          rankingData.slice(0, 3).forEach((cidade, index) => {
              const li = document.createElement('li');
              li.className = index === 0 ? '' : 'rank-des'; // Apenas o primeiro item não tem classe 'rank-des'
              li.innerHTML = `
                  <span>${index + 1}</span>
                  <img src="img/${index + 1}.png" alt="${index + 1}º lugar">
                  <p>${cidade.nome}</p>
                  <span class="revenue">+${cidade.denuncias} denúncias</span>
              `;
              podium.appendChild(li);
          });
  
          // Adiciona os dados do ranking à lista
          rankingData.forEach((cidade, index) => {
            const rankItem = document.createElement('li');
            rankItem.classList.add('rank-item');
            rankItem.innerHTML = `
                <span>${index + 1}</span>
                <p>${cidade.nome.toUpperCase()}</p> <!-- Apenas o nome da cidade -->
                <span class="revenue">+${cidade.denuncias} denúncias</span>
            `;
            rankingList.appendChild(rankItem);
        });
      }
      // Chama a função para buscar os dados ao carregar a página
      document.addEventListener('DOMContentLoaded', fetchRankingData);
  </script>
  
    <!-- todo:  Footer -->
    <footer id="footer">
      <section class="footer-content">
        <article class="footer-top">
          <article class="footer-logo">
            <img src="./img/LOGO1.png" alt="Logo">
          </article>
          <article class="footer-media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </article>
        </article>
        <article class="footer-link-boxes">
          <ul class="footer-box">
            <li class="footer-link-name">SaneaMais</li>
            <li><a href="#">Home</a></li>
            <li><a href="/Sobre">Sobre </a></li>
            <li><a href="/Servico">Saneamento </a></li>
          </ul>
          <ul class="footer-box">
            <li class="footer-link-name">Publicações</li>
            <!-- todo -->

            <li><a href="#meu-card" class="scroll-link">Denúncias destaques</a></li>


          </ul>
          <ul class="footer-box" id="footer-wi">
            <li class="footer-link-name">Ongs</li>
            <li><a href="https://associacaobiosaneamento.org/">Associação Biosaneamento</a></li>
            <li><a href="https://institutoigua.org.br/">Instituto Iguá Saneamento</a></li>
            <li><a href="https://teto.org.br/">TETO Brasil</a></li>
          </ul>
          <ul class="footer-box input-box" id="footer-wi">
            <li class="footer-link-name">Contato e suporte</li>
            <li><a href="/FaleConoco"><button>Fale conosco</button></a></li>
          </ul>
        </article>
      </section>
      <section class="footer-bottom-details">
        <article class="footer-bottom-text">
          <span class="footer-copyright-text">Copyright © 2023 <a href="#">SaneaMais. Todos os direitos
              reservados</a></span>
          <article class="footer-policy-terms ">
            <a href="#">Política de privacidade</a>
            <a href="#" id="Termos">Termos de uso</a>
          </article>
        </article>
      </section>
    </footer>
    
  <!--  div importante  -->
  <!-- end footer -->
  <script src="./TCA/js/script.js"></script>
  <script src="./js/slider1.js"></script>
  <script src="./js/main.js"></script>
  <script src="./js/animação.js"></script>


</body>

</html>