<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../CSS/restrito.css">
    <title>Acesso restrito</title>
</head>
<body>
    <div class="box">
    <h2>Acesso restrito</h2>
    <span>Voltar para o login</span><br><br><br><br>
    <a href="/login"> <button class="btn-voltar">Voltar</button>
    </div>
</div>
</body>
</html>