<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso restrito</title>
</head>
<body>

    <h1>Acesso restrito</h1>

    <span>Volta para o Login</span><br>
    <a href="/login"><button>Volta</button></a>
    
</body>
</html>