<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="shortcut icon" href="../../img/MicrosoftTeams-image-removebg-preview.png" tyle="image/ x-icon">
    <link rel="stylesheet" href="../../CSS/FaleConsco/index.css">
    <link rel="stylesheet" href="../../CSS/FaleConsco/slyle.css">
    <link rel="stylesheet" href="../../CSS/FaleConsco/menuFale.css">
    <link rel="stylesheet" href="../../CSS/Footer/slyle.css">


    <link rel="stylesheet" href="/CSS/notify.css">

  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
        <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
        <script src="/js/notify.js"></script>
        <link rel="stylesheet" href="/css/notify.css">
    <title>Fale Conosco</title>
</head>

<body>

    <header>
        <div class="Section_top">
            <div class="container">
                <nav class="nav">
                    <a href="/">
                        <img src="../../img/LOGO1.png" alt="Logo" />
                    </a>
                    <ul class="ul nav-list">
                        <a href="/" id="item-nav">Home</a>
                        <a href="/Sobre" id="item-nav">Sobre</a>
                        <a href="/Servico" id="item-nav">Saneamento</a>
                        <a href="/login" id="item-nav">Entrar</a>
                        <a class="btn" href="/cadastro">Cadastrar</a>
                    </ul>
                    <button class="hamburger"></button>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <% if (dadosNotificacao) { %>
            <script>
                notify('<%= dadosNotificacao.titulo %>', '<%= dadosNotificacao.mensagem %>', '<%= dadosNotificacao.tipo %>');
            </script>
        <% } %>


        <section class="Sub-menuF">
            <section class="sub-font">
                <h1 class="Font">Fale Conosco!</h1>
                <p>Tire suas dúvidas ou envie uma mensagem</p>
            </section>
            <article class="ImgFaleConosco">
                <img src="../../img/Faleconosco/MicrosoftTeams-image (1).png" alt="">
            </article>
        </section>
        
        <!-- Formulário atualizado -->
        <form class="formFale" action="/FaleConoco" method="POST">
            <section class="fcontainer">
                <article class="font-FaleConosco">
                    <h1>Envie sua mensagem aqui</h1>
                    <p>Se você tiver algum problema ou alguma sugestão, envie sua mensagem aqui que retornaremos o mais breve possível</p>
                </article>
                <section class="containerMensagem">
                    <section id="inputs">
                        <section class="iinput-box-form">
                            <label for="name">
                                Nome
                                <article class="input-field">
                                    <input type="text" id="name" name="nome" placeholder="Digite seu nome" required>
                                </article>
                            </label>
                        </section>

                        <section class="input-box-form">
                            <label for="telefone">
                                Telefone
                                <article class="input-field">
                                    <input type="text" id="telefone" name="telefone" placeholder="Digite seu telefone"
                                        required>
                                </article>
                            </label>
                        </section>
                        <section class="input-box-form">
                            <label for="email">
                                E-mail
                                <article class="input-field">
                                    <input type="email" id="email" name="email" placeholder="Digite seu email" required>
                                </article>
                            </label>
                        </section>
                        <article class="Espacamento">
                            <h2>Como podemos ajudar?</h2>
                            <p>Sinta-se à vontade para fazer uma pergunta ou simplesmente deixar um comentário</p>
                        </article>
                        <article class="container-textearea">
                            <textarea name="mensagem" id="mensagem" placeholder="Escreva sua mensagem" cols="30"
                                rows="10" required></textarea>
                            <article class="button">
                                <button type="submit">Enviar</button>
                            </article>
                        </article>
                    </section>
                </section>
            </section>
        </form>
    </main>

    <footer id="footer">
        <section class="footer-content">
            <section class="footer-top">
                <article class="footer-logo">
                    <img src="../../img/LOGO1.png" alt="Logo">
                </article>
        
            </section>
            <section class="footer-link-boxes">
                <ul class="footer-box">
                    <li class="footer-link-name">SaneaMais</li>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="../../HTML/Sobre/sobre.html">Sobre </a></li>
                    <li><a href="../../HTML/Serviço/servicos.html">Saneamento </a></li>
                </ul>
            
                <ul class="footer-box" id="footer-wi">
                    <li class="footer-link-name">Ongs</li>
                    <li><a href="https://associacaobiosaneamento.org/">Associação Biosaneamento</a></li>
                    <li><a href="https://institutoigua.org.br/">Instituto Iguá Saneamento</a></li>
                    <li><a href="https://teto.org.br/">TETO Brasil</a></li>
                </ul>
                <ul class="footer-box input-box" id="footer-wi">
                    <li class="footer-link-name">Contato e suporte</li>
                    <li><a href="index.html"><button>Fale conosco</button></a></li>
                </ul>
            </section>
        </section>
        <section class="footer-bottom-details">
            <section class="footer-bottom-text">
                <span class="footer-copyright-text">Copyright © 2023 <a href="#">SaneaMais. Todos os direitos reservados</a></span>
                <article class="footer-policy-terms ">
                    <a href="#">Política de privacidade</a>
                    <a href="#" id="Termos">Termos de uso</a>
                </article>
            </section>
        </section>
    </footer>

    <script src="../../js/FaleConsoco/FaleConosco.js"></script>
    <script src="../../js/main.js"></script>

</body>

</html>
