footer{
  margin-top: 10px;
}

.text-banner{
  color: #fff;
  margin: 150px;
  font-size: 3.6rem;
}
.servicos h3 {
  text-align: center;
  color: #84bc26;
}

.sanea .sanea-text > h3 {
  color: #84bc26;
  text-align: left;
}

.sanea .sanea-text > p {
  text-align: justify;
  font-size: 1.2rem;

}
.container-img{
  display: flex;
  justify-content: center; 
  margin: 40px 0; 
}

.container-img img{
  width: 100%;

}

.container-img .conscien img{
  border:dashed 8px;
    border-radius:10px;
    border-color: #84bc26;

}

.servicos .container > p {
  text-align: center;
}

.servicos .rows-cards {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.servicos .row-card-item {
  background-color: #90bf2a;
  width: 350px;
  padding: 20px;
  border-radius: 14px;
  margin: 20px;
  transition: 0.3s;
}

.servicos .row-card-item:hover {
  background-color: #6a8c1f;
}

.servicos .row-card-item:hover p {
  color: white;
}

.servicos .row-card-item img {
  background-color: #070045;
  border-radius: 14px;
  width: 70px;
  padding: 9px;
}

.servicos .row-card-item p.nome-servico {
  margin: 5px 0;
  transition: 0.3s;
}

.servicos .row-card-item p.descricao-servico {
  transition: 0.3s;
}
.font-sanea{
  font-size: 2.5rem;
}
.area .area-text h3 {
  color: #84bc26;
  text-align: center;
}


.dados .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
}

.dados .dados-item {
  text-align: center;
  margin: 15px;
  color: #000000be;
}

.dados .dados-item img {
  background-color: #84bc26;
  border-radius: 14px;
  padding: 10px;
  margin-bottom: 15px;
  width: 80px;
}

.dados .dados-item p {
  font-size: 17px;
}

.dados .dados-item p strong {
  font-size: 28px;
  color: #ffffff;
}

.wrapper{
  padding: 10px 10%;
}
#card-area{
  padding: 50px 0;
}
.box-area{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.box {
border-radius: 10px;
position: relative;
overflow: hidden;
box-shadow: 5px 5px 25px rgba(132, 188, 38);
}
.box img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.overlay {
width: 100%;
height: 0;
background: linear-gradient(transparent,#84bc26 100%);
border-radius: 10px;
position: absolute;
left: 0;
bottom: 0;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 40px;
text-align: center;
font-size: 14px;
transition: height 0.5s;
}
.overlay h3 {
color: #070045;
font-weight: 500;
margin-bottom: 5px;
margin-top: 80%;
font-family: 'Bebas Neue', sans-serif;
font-size: 30px;
letter-spacing: 2px;
}
.overlay a {
margin-top: 10px;
color: #262626;
text-decoration: none;
font-size: 14px;
background: #fff;
border-radius: 50px;
text-align: center;
padding: 5px 15px;
}
.box:hover img{
  transform: scale(1.1);
}
.box:hover .overlay{
  height: 100%;
}



/* Criando 3 tamanho de tela para ajustamentos futuros  */

@media (max-width:580px) {.text-banner{font-size: 2.8rem;}}
@media (max-width:470px) {.text-banner{font-size: 2.1rem;}}
@media (max-width:340px) {.text-banner{font-size: 1.9rem;} .area{ padding: 10px;} .font-sanea{ font-size:2rem } }

