
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

  .header {
    background-color: white;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .logo {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
  }

  .user-actions a {
    margin-left: 15px;
    color: #00417e;
    font-size: 20px;
  }
  
  .profile-container {
    width: 50%;
    margin: auto;
    background-color: #fff;
    padding: 25px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #00417e;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  /* Estilo da Imagem de Perfil */
  .profile-image-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }

  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
  }

  #profileImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    border-radius: 50%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .profile-image-wrapper:hover .overlay {
    opacity: 1;
  }

  .overlay span {
    font-size: 14px;
    font-weight: bold;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #218838;
  }

  #bio {
    width: 100%;
    height: 100px; /* Altura fixa */
    resize: none; /* Impede o redimensionamento */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que o padding esteja incluído na largura total */
}

